.stats {
  background-color: #004c86;
  padding: 1.5rem 3rem;
}

.stats > h2 {
  color: #e11f24;
  font-family: Inter;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.stats > p {
  color: #fff;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 1.75rem;
}

.stats > p > span {
  margin-left: 1rem;
}

.header {
  color: #fff;
  background-color: #000;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  display: flex;
  padding: 0.25rem 0.5rem;
  gap: 0 5rem;
}

.map {
  display: flex;
  background-color: #f0f0dc;

  position: relative;
  margin-bottom: 6.5rem;
}

.track {
  background-color: #007abb;

  position: relative;
  left: 6.25rem;
  z-index: 0;

  padding: 1rem 0;
  width: 1.5rem;
}

.stations {
  padding-left: 4.5rem;
  z-index: 3;
}

.station {
  display: flex;
  align-items: center;

  margin-top: 2.75rem;
}

.stop {
  background-color: #fff;
  border-radius: 50%;
  border: 0.25rem solid #007abb;

  width: 1.5rem;
  height: 1.5rem;
}

.name {
  color: #000;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  padding-left: 1.25rem;
}

.footer {
  color: #fff;
  background-color: #e11f24;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  display: flex;
  align-items: center;

  position: fixed;
  bottom: 0;
  z-index: 10;

  width: 100%;

  padding: 1.5rem;
}

.footer > p {
  padding-right: 2rem;
}

.footer > .curr {
  width: 70%;
}
